USE [master]
GO
/****** Object:  Database [BDKatherine]    Script Date: 6/5/2024 01:50:50 ******/
CREATE DATABASE [BDKatherine]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDKatherine', FILENAME = N'C:\SQLData\BDKatherine.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDKatherine_log', FILENAME = N'C:\SQLData\BDKatherine_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDKatherine].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDKatherine]
GO
/****** Object:  Table [dbo].[cuenta]    Script Date: 6/5/2024 01:50:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cuenta](
	[id] [int] NOT NULL,
	[persona_id] [int] NULL,
	[tipo_cuenta] [varchar](50) NULL,
	[saldo] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[persona]    Script Date: 6/5/2024 01:50:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[persona](
	[ci] [int] NOT NULL,
	[nombre] [varchar](100) NULL,
	[apellidop] [varchar](100) NULL,
	[apellidom] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ci] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transaccion]    Script Date: 6/5/2024 01:50:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transaccion](
	[id] [int] NOT NULL,
	[cuenta_origen_id] [int] NULL,
	[cuenta_destino_id] [int] NULL,
	[monto] [float] NULL,
	[fecha] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cuenta]  WITH CHECK ADD FOREIGN KEY([persona_id])
REFERENCES [dbo].[persona] ([ci])
GO
ALTER TABLE [dbo].[transaccion]  WITH CHECK ADD FOREIGN KEY([cuenta_origen_id])
REFERENCES [dbo].[cuenta] ([id])
GO
ALTER TABLE [dbo].[transaccion]  WITH CHECK ADD FOREIGN KEY([cuenta_destino_id])
REFERENCES [dbo].[cuenta] ([id])
GO
USE [master]
GO
